.whyUs {
    padding-top: 128px;
    display: flex;
    background: #f5f5f5;
    overflow: hidden;
    @include max-xl {
        padding-top: 60px;
    }
    &__img {
        width: calc(100% - 1045px);
        object-fit: cover;
        @include max-xxxl {
            width: calc(100% - 800px);
        }
        @include max-xlmidle {
            width: calc(100% - 500px);
        }
        @include max-lg {
            width: calc(100% - 400px);
        }
        @include max-md {
            display: none;
        }
    }
    &__info {
        padding-left: 67px;
        padding-right: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @include max-lg {
            padding-left: 30px;
            padding-right: 20px;
        }
        @include max-md {
            padding-left: 0;
            padding-right: 0;
            background: #fff;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 176.9%;
        letter-spacing: 0.195em;
        color: #262525;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        @include max-xl {
            font-size: 24px;
        }
        @include max-lg {
            font-size: 22px;
        }
        @include max-md {
            display: none;
            font-weight: 700;
            font-size: 23px;
            line-height: 176.9%;
            text-align: center;
            letter-spacing: 0.095em;
            color: #353535;
        }
    }
    &__title::before {
        content: "";
        width: 140px;
        height: 8px;
        background: #ff9900;
        position: absolute;
        left: -160px;
        @include max-md {
            position: initial;
            width: 100%;
            height: 10px;
        }
    }
    &__title::after {
        content: "";
        width: calc(100% - 150px);
        height: 8px;
        background: #ff9900;
        position: absolute;
        right: -180px;
        @include max-lg {
            right: -110px;
        }
        @include max-md {
            position: initial;
            width: 100%;
            height: 10px;
        }
    }
    &__mobile {
        display: none;
        background-image: url(../images/whyUs_img.png);
        background-size: cover;
        background-position: center;
        padding: 65px 0 148px;
        @include max-md {
            display: block;
            width: 100vw;
        }
        & .whyUs__title {
            display: block;
            background: rgba(217, 217, 217, 0.83);
            width: fit-content;
            margin: auto;
            padding: 0 10px;
            font-weight: 700;
            font-size: 23px;
            line-height: 176.9%;
            text-align: center;
            letter-spacing: 0.095em;
            color: #353535;
            display: flex;
            position: relative;
        }
        & .whyUs__title::after {
            content: "";
            width: 100%;
            height: 10px;
            background: #02bb4c;
            display: block;
            position: absolute;
            right: -100%;
        }
        & .whyUs__title::before {
            content: "";
            width: 100%;
            height: 10px;
            background: #02bb4c;
            display: block;
            position: absolute;
            left: -100%;
        }
    }
    &__group {
        max-width: 873px;
        margin-top: 20px;
        @include max-md {
            margin-top: 0;
            padding: 32px 40px 0 27px;
            width: 100vw;
            text-align: center;
        }
    }
    &__subtitle {
        font-weight: 700;
        font-size: 22px;
        line-height: 141%;
        color: #4d4c4c;
        @include max-xl {
            font-size: 20px;
        }
        @include max-lg {
            font-size: 18px;
        }
    }
    &__description {
        margin-top: 5px;
        font-size: 20px;
        line-height: 28px;
        font-weight: 300;
        color: #4d4c4c;
        @include max-xl {
            font-size: 18px;
        }
        @include max-lg {
            font-size: 16px;
        }
        @include max-md {
            max-width: calc(100% - 80px);
            margin: 10px auto 0;
        }
    }
    &__wrapper {
        position: relative;
    }
    &__wrapper-slider {
        position: relative;
        width: 100vw;
        height: auto;
        & .owl-stage {
            display: flex;
        }
        & .owl-nav {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 100vw;
        }
        & .owl-item.active {
            width: auto !important;
        }
        & .owl-nav .owl-prev {
            left: 10px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 13px;
            font-size: 42px;
        }
        & .owl-nav .owl-next {
            right: 10px;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 13px;
                font-size: 42px;
        }
    }
}
.service .whyUs {
    flex-direction: row-reverse;
    padding-top: 92px;
    
}
.service .whyUs__group {
    display: -webkit-inline-box;
    @include max-lg {
        max-width: 275px;
    }
    @include max-md {
        display: grid;
        justify-items: center;
        row-gap: 10px;
        max-width: initial;
    }
}
.service .whyUs__group::before {
   content: "";
   background-size: cover;
   width: 48px;
   height: 48px;
   display: block;
   margin-right: 23px;
   @include max-md {
    margin-right: 0;
    width: 54px;
    height: 54px;
}
}
.service .whyUs__group:nth-child(1)::before {
    background-image: url(../images/project.png);
}
.service .whyUs__group:nth-child(2)::before {
    background-image: url(../images/house.png);
}
.service .whyUs__group:nth-child(3)::before {
    background-image: url(../images/delivery.png);
}
.service .whyUs__group:nth-child(4)::before {
    background-image: url(../images/settings.png);
}
.technology .whyUs {
    justify-content: flex-end;
    background: #f5f5f5;
    @include max-md {
        background: #fff;
    }
}
.technology .whyUs__group::before {
    display: none;
}
.technology .whyUs__wrapper {
    max-width: 589px;
}
.technology .whyUs__title::after {
    right: -100px;
    @include max-xl {
        right: -65px;
    }
    @include max-md {
        right: -300px;
    }
}
.technology .whyUs__mobile .whyUs__title::before {
    
    @include max-md {
        left: -150%;
        width: 150%;
    }
}
.technology .whyUs__info {
    padding-left: 141px;
    @include max-md {
        padding-left: 0;
    }
}
.technology .whyUs__description {
    @include max-md {
        max-width: initial;
    }
}
.technology .whyUs__group {
    @include max-md {
        padding-top: 0;
    }
}
.technology .whyUs__img {
    object-fit: contain;
}
.technology .whyUs__mobile {
    background: none;
    padding: 0;
}
.technology .whyUs__mobile .whyUs__title::after{
    width: 157%;
}
.technology .whyUs__mobile .whyUs__title {
    background: none;
}
.technology__img-mobile {
    display: none;
    @include max-md {
        display: block;
        margin-top: 94px;
    }
}

