<section class="consulting">
    <div class="consulting__group">
        <div class="consulting__title">Отримайте швидку консультацію  </div>
        <button class="consulting__group-button" type="button">ЗВОРОТНІЙ ЗВ’ЯЗОК</button>
    </div>
    <form action="#" class="consulting__form" method="get">
        <div class="consulting__form-content">
            <div class="consulting__input-group">
                <div class="consulting__input-title">ФІО</div>
                <input type="text" class="consulting__input" >
            </div>
            <div class="consulting__input-group">
                <div class="consulting__input-title">Профлист:</div>
                <label for="" class="consulting__label">
                    <select class="consulting__input" name="" id="">
                        <option value="Н-20">Н-20</option>
                    </select>
                </label>
            </div>
            <div class="consulting__input-group">
                <div class="consulting__input-title">Колір</div>
                <label for="" class="consulting__label consulting__label-color">
                    <select class="consulting__input" name="" id="">
                        <option value="RAL 8017">RAL 8017</option>
                    </select>
                </label>
            </div>
            <div class="consulting__input-group">
                <div class="consulting__input-title">Номер телефону:</div>
                <input type="text" class="consulting__input" >
            </div>
            <div class="consulting__input-group">
                <div class="consulting__input-title">Товщина:</div>
                <label for="" class="consulting__label">
                    <select class="consulting__input" name="" id="">
                        <option value="0.4">0.4</option>
                    </select>
                </label>
            </div>
            <div class="consulting__input-group">
                <div class="consulting__input-title">Об’єм</div>
                <input type="text" class="consulting__input" >
            </div>
        </div>
        <button type="submit" class="consulting__form-button">Відправити</button>
    </form>
</section>