<section class="delivery">
    <section class="technology">
    <section class="service">
    <section class="whyUs">
        <img src="images/map.png" alt="picture" class="whyUs__img">
        <div class="whyUs__info">
            <div class="whyUs__title">ДОСТАВКА</div>
            <div class="whyUs__mobile">
                <div class="whyUs__title">ДОСТАВКА</div>
            </div>
            <div class="technology__img-mobile">
                <img src="images/map2.png" alt="">
            </div>
            <div class="whyUs__wrapper">
                <div class="whyUs__group">
                    
                    <span class="whyUs__description">Компанія USG здійснює доставку профнастилу у всі області України за допомогою автомобільного транспорту.</span>
                </div>
                <div class="whyUs__group">
                   
                    <span class="whyUs__description"> Висока гнучкість і клієнтоорієнтованість дозволяє відвантажувати як великі партії, так і менш об'ємні замовлення.</span>
                </div>
                <div class="whyUs__group">
                    
                    <span class="whyUs__description">При транспортуванні профнастилу використовується тип упаковки, що гарантує повний захист від механічних пошкоджень та зміщення листів один до одного.</span>
                </div>
            </div>
        </div>
    </section>
</section>
</section>
</section>