<footer class="footer">
    <div class="footer__content">
        <div class="footer__info">
            <div class="footer__info-group">
                вул.Сєдова,36 <br>м. Запоріжжя
            </div>
            <div class="footer__info-group">
                Email:<br><span>usgprofil@gmail.com</span>
            </div>
            <div class="footer__info-group">
                вул. Львівська бічна, 4<br>м. Сокільники<br>Львівська обл
            </div>
            <div class="footer__info-group">
                Телефон:<br><span>+38 097 226 00 00</span>
            </div>
        </div>
        <a href="index.html" class="footer__logo">
            <picture>
                <source media="(max-width: 768px)" srcset="images/main__logo_mobile.png">
                <img src="images/logo.png" alt="logo">
            </picture>
        </a>
    </div>
</footer>