<section class="production">
    <div class="production__item">
        <div class="production__info">
            <div class="production__info-title">ВИРОБНИЦТВО ПЛОЩЕЮ 3200м2</div>
            <div class="production__info-text">м.Львів </div>
            <button class="production__info-button" type="button">Більше </button>
        </div>
        <div class="production__slider hide">
            <img src="images/production1.png" alt="production">
            <img src="images/production1.png" alt="production">
        </div>
    </div>
    <div class="production__item">
        <div class="production__info">
            <div class="production__info-title">ВИРОБНИЦТВО ПЛОЩЕЮ 4100м2 </div>
            <div class="production__info-text">м.Запоріжжя </div>
            <button type="button" class="production__info-button">Більше </button>
        </div>
        <div class="production__slider hide">
            <img src="images/production2.png" alt="production">
            <img src="images/production2.png" alt="production">
        </div>
    </div>
</section>