<section class="production">
    <div class="production__item">
        <div class="production__img">
            <img src="images/production1.png" alt="production">
        </div>
        <div class="production__info">
            <div class="production__info-title">ВИРОБНИЦТВО ПЛОЩЕЮ 3200м2</div>
            <div class="production__info-text">м.Львів </div>
            <a href="#" class="production__info-button">Більше </a>
        </div>
    </div>
    <div class="production__item">
        <div class="production__img">
            <img src="images/production2.png" alt="production">
        </div>
        <div class="production__info">
            <div class="production__info-title">ВИРОБНИЦТВО ПЛОЩЕЮ 4100м2 </div>
            <div class="production__info-text">м.Запоріжжя </div>
            <a href="#" class="production__info-button">Більше </a>
        </div>
    </div>
</section>