<section class="production">
    <div class="production__item">
        <div class="production__info">
            <div class="production__info-title">ВИРОБНИЦТВО ПЛОЩЕЮ 3200м2</div>
            <div class="production__info-text">м.Львів </div>
            <button class="production__info-button" type="button">Більше </button>
        </div>
        <div class="production__slider hide">
            <img src="images/lv/DJI_0328.JPG" alt="production">
            <img src="images/lv/DJI_0343.JPG" alt="production">
            <img src="images/lv/DJI_0345.JPG" alt="production">
            <img src="images/lv/DJI_0355.JPG" alt="production">
            <img src="images/lv/DJI_0368.JPG" alt="production">
            <img src="images/lv/DJI_0380.JPG" alt="production">
            <img src="images/lv/DJI_0408.JPG" alt="production">
        </div>
    </div>
    <div class="production__item">
        <div class="production__info">
            <div class="production__info-title">ВИРОБНИЦТВО ПЛОЩЕЮ 4100м2 </div>
            <div class="production__info-text">м.Запоріжжя </div>
            <button type="button" class="production__info-button">Більше </button>
        </div>
        <div class="production__slider hide">
            <img src="images/zp/DJI_0725.JPG" alt="production">
            <img src="images/zp/DJI_0734.JPG" alt="production">
            <img src="images/zp/DJI_0747.JPG" alt="production">
            <img src="images/zp/DJI_0762.JPG" alt="production">
            <img src="images/zp/DJI_0767.JPG" alt="production">
            <img src="images/zp/DJI_0781.JPG" alt="production">
            <img src="images/zp/DJI_0816.JPG" alt="production">
        </div>
    </div>
</section>