<section class="products">
    <div class="products__title">
        <span>Наша продукція</span>
        <span></span>
    </div>
     <div class="products__content">
        <div class="products__tabs">
            <div class="products__tabs-prev ">
                <img src="images/btn-prev.png" alt="prev">
            </div>
            <div class="products__tabs-list">
                <a href="#ps20" class="products__tab products__tab-active first">ПС-20</a>
                <a href="#ps10" class="products__tab">ПС-10</a>
                <a href="#h35" class="products__tab">Н-35</a>
                <a href="#h44" class="products__tab">Н-44</a>
                <a href="#h57" class="products__tab">Н-57</a>
                <a href="#h75" class="products__tab last">Н-75</a>
            </div>
            <div class="products__tabs-next">
                <img src="images/btn-prev.png" alt="next">
            </div>
        </div>
        <div class="products__view">
            <div class="products__view-items">
                <div class="products__ps20 " data-hash="ps20"> 
                    <div class="products__view-slider">
                        <img src="images/proflist/ps20/20_ral_1014.jpg" alt="" data-hash="20_ral_1014">
                        <img src="images/proflist/ps20/20_ral_1018.jpg" alt="" data-hash="20_ral_1018">
                        <img src="images/proflist/ps20/20_ral_3005.jpg" alt="" data-hash="20_ral_3005">
                        <img src="images/proflist/ps20/20_ral_3011.jpg" alt="" data-hash="20_ral_3011">
                        <img src="images/proflist/ps20/20_ral_5002.jpg" alt="" data-hash="20_ral_5002">
                        <img src="images/proflist/ps20/20_ral_5005.jpg" alt="" data-hash="20_ral_5005">
                        <img src="images/proflist/ps20/20_ral_6005.jpg" alt="" data-hash="20_ral_6005">
                        <img src="images/proflist/ps20/20_ral_7004.jpg" alt="" data-hash="20_ral_7004">
                        <img src="images/proflist/ps20/20_ral_8017.jpg" alt="" data-hash="20_ral_8017">
                        <img src="images/proflist/ps20/20_ral_9003.jpg" alt="" data-hash="20_ral_9003">
                        <img src="images/proflist/ps20/20_ral_9006.jpg" alt="" data-hash="20_ral_9006">
                        <img src="images/proflist/ps20/20_ral_1015.jpg" alt="" data-hash="20_ral_1015">
                    </div>
                    <div class="products__color-wrapper">
                        <div class="products__item-prev">
                            <img src="images/btn-prev.png" alt="prev">
                        </div>
                        <div class="products__color-slider">
                            <a href="#20_ral_1014" class="products__color-group">
                                <img src="images/proflist/ps20/20_ral_1014.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 1014
                                </div>
                            </a>
                            <a href="#20_ral_1018" class="products__color-group">
                                <img src="images/proflist/ps20/20_ral_1018.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 1018
                                </div>
                            </a>
                            <a href="#20_ral_3005" class="products__color-group">
                                <img src="images/proflist/ps20/20_ral_3005.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 3005
                                </div>
                            </a>
                            <a href="#20_ral_3011" class="products__color-group">
                                <img src="images/proflist/ps20/20_ral_3011.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 3011
                                </div>
                            </a>
                            <a href="#20_ral_5002" class="products__color-group">
                                <img src="images/proflist/ps20/20_ral_5002.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 5002
                                </div>
                            </a>
                            <a href="#20_ral_5005" class="products__color-group">
                                <img src="images/proflist/ps20/20_ral_5005.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 5005
                                </div>
                            </a>
                            <a href="#20_ral_6005" class="products__color-group">
                                <img src="images/proflist/ps20/20_ral_6005.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 6005
                                </div>
                            </a>
                            <a href="#20_ral_7004" class="products__color-group">
                                <img src="images/proflist/ps20/20_ral_7004.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 7004
                                </div>
                            </a>
                            <a href="#20_ral_8017" class="products__color-group">
                                <img src="images/proflist/ps20/20_ral_8017.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 8017
                                </div>
                            </a>
                            <a href="#20_ral_9003" class="products__color-group">
                                <img src="images/proflist/ps20/20_ral_9003.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 9003
                                </div>
                            </a>
                            <a href="#20_ral_9006" class="products__color-group">
                                <img src="images/proflist/ps20/20_ral_9006.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 9006
                                </div>
                            </a>
                            <a href="#20_ral_1015" class="products__color-group">
                                <img src="images/proflist/ps20/20_ral_1015.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 1015
                                </div>
                            </a>
                        </div>
                        <div class="products__item-next">
                            <img src="images/btn-prev.png" alt="next">
                        </div>
                    </div>
                </div>
                <div class="products__ps10" data-hash="ps10">
                    <div class="products__view-slider">
                        <img src="images/proflist/ps10/10_ral_1014.jpg" alt="" data-hash="10_ral_1014">
                        <img src="images/proflist/ps10/10_ral_1018.jpg" alt="" data-hash="10_ral_1018">
                        <img src="images/proflist/ps10/10_ral_3005.jpg" alt="" data-hash="10_ral_3005">
                        <img src="images/proflist/ps10/10_ral_3011.jpg" alt="" data-hash="10_ral_3011">
                        <img src="images/proflist/ps10/10_ral_5002.jpg" alt="" data-hash="10_ral_5002">
                        <img src="images/proflist/ps10/10_ral_5005.jpg" alt="" data-hash="10_ral_5005">
                        <img src="images/proflist/ps10/10_ral_6005.jpg" alt="" data-hash="10_ral_6005">
                        <img src="images/proflist/ps10/10_ral_7004.jpg" alt="" data-hash="10_ral_7004">
                        <img src="images/proflist/ps10/10_ral_8017.jpg" alt="" data-hash="10_ral_8017">
                        <img src="images/proflist/ps10/10_ral_9003.jpg" alt="" data-hash="10_ral_9003">
                        <img src="images/proflist/ps10/10_ral_9006.jpg" alt="" data-hash="10_ral_9006">
                        <img src="images/proflist/ps10/10_ral_1015.jpg" alt="" data-hash="10_ral_1015">
                    </div>
                    <div class="products__color-wrapper">
                        <div class="products__item-prev">
                            <img src="images/btn-prev.png" alt="prev">
                        </div>
                        <div class="products__color-slider">
                            <a href="#10_ral_1014" class="products__color-group">
                                <img src="images/proflist/ps10/10_ral_1014.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 1014
                                </div>
                            </a>
                            <a href="#10_ral_1018" class="products__color-group">
                                <img src="images/proflist/ps10/10_ral_1018.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 1018
                                </div>
                            </a>
                            <a href="#10_ral_3005" class="products__color-group">
                                <img src="images/proflist/ps10/10_ral_3005.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 3005
                                </div>
                            </a>
                            <a href="#10_ral_3011" class="products__color-group">
                                <img src="images/proflist/ps10/10_ral_3011.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 3011
                                </div>
                            </a>
                            <a href="#10_ral_5002" class="products__color-group">
                                <img src="images/proflist/ps10/10_ral_5002.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 5002
                                </div>
                            </a>
                            <a href="#10_ral_5005" class="products__color-group">
                                <img src="images/proflist/ps10/10_ral_5005.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 5005
                                </div>
                            </a>
                            <a href="#10_ral_6005" class="products__color-group">
                                <img src="images/proflist/ps10/10_ral_6005.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 6005
                                </div>
                            </a>
                            <a href="#10_ral_7004" class="products__color-group">
                                <img src="images/proflist/ps10/10_ral_7004.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 7004
                                </div>
                            </a>
                            <a href="#10_ral_8017" class="products__color-group">
                                <img src="images/proflist/ps10/10_ral_8017.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 8017
                                </div>
                            </a>
                            <a href="#10_ral_9003" class="products__color-group">
                                <img src="images/proflist/ps10/10_ral_9003.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 9003
                                </div>
                            </a>
                            <a href="#10_ral_9006" class="products__color-group">
                                <img src="images/proflist/ps10/10_ral_9006.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 9006
                                </div>
                            </a>
                            <a href="#10_ral_1015" class="products__color-group">
                                <img src="images/proflist/ps10/10_ral_1015.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 1015
                                </div>
                            </a>
                        </div>
                        <div class="products__item-next">
                            <img src="images/btn-prev.png" alt="next">
                        </div>
                    </div>
                </div>
                <div class="products__h35 " data-hash="h35">
                    <div class="products__view-slider">
                        <img src="images/proflist/h35/35_ral_1014.jpg" alt="" data-hash="35_ral_1014">
                        <img src="images/proflist/h35/35_ral_1018.jpg" alt="" data-hash="35_ral_1018">
                        <img src="images/proflist/h35/35_ral_3005.jpg" alt="" data-hash="35_ral_3005">
                        <img src="images/proflist/h35/35_ral_3011.jpg" alt="" data-hash="35_ral_3011">
                        <img src="images/proflist/h35/35_ral_5002.jpg" alt="" data-hash="35_ral_5002">
                        <img src="images/proflist/h35/35_ral_5005.jpg" alt="" data-hash="35_ral_5005">
                        <img src="images/proflist/h35/35_ral_6005.jpg" alt="" data-hash="35_ral_6005">
                        <img src="images/proflist/h35/35_ral_7004.jpg" alt="" data-hash="35_ral_7004">
                        <img src="images/proflist/h35/35_ral_8017.jpg" alt="" data-hash="35_ral_8017">
                        <img src="images/proflist/h35/35_ral_9003.jpg" alt="" data-hash="35_ral_9003">
                        <img src="images/proflist/h35/35_ral_9006.jpg" alt="" data-hash="35_ral_9006">
                        <img src="images/proflist/h35/35_ral_1015.jpg" alt="" data-hash="35_ral_1015">
                    </div>
                    <div class="products__color-wrapper">
                        <div class="products__item-prev">
                            <img src="images/btn-prev.png" alt="prev">
                        </div>
                        <div class="products__color-slider">
                            <a href="#35_ral_1014" class="products__color-group">
                                <img src="images/proflist/h35/35_ral_1014.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 1014
                                </div>
                            </a>
                            <a href="#35_ral_1018" class="products__color-group">
                                <img src="images/proflist/h35/35_ral_1018.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 1018
                                </div>
                            </a>
                            <a href="#35_ral_3005" class="products__color-group">
                                <img src="images/proflist/h35/35_ral_3005.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 3005
                                </div>
                            </a>
                            <a href="#35_ral_3011" class="products__color-group">
                                <img src="images/proflist/h35/35_ral_3011.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 3011
                                </div>
                            </a>
                            <a href="#35_ral_5002" class="products__color-group">
                                <img src="images/proflist/h35/35_ral_5002.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 5002
                                </div>
                            </a>
                            <a href="#35_ral_5005" class="products__color-group">
                                <img src="images/proflist/h35/35_ral_5005.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 5005
                                </div>
                            </a>
                            <a href="#35_ral_6005" class="products__color-group">
                                <img src="images/proflist/h35/35_ral_6005.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 6005
                                </div>
                            </a>
                            <a href="#35_ral_7004" class="products__color-group">
                                <img src="images/proflist/h35/35_ral_7004.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 7004
                                </div>
                            </a>
                            <a href="#35_ral_8017" class="products__color-group">
                                <img src="images/proflist/h35/35_ral_8017.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 8017
                                </div>
                            </a>
                            <a href="#35_ral_9003" class="products__color-group">
                                <img src="images/proflist/h35/35_ral_9003.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 9003
                                </div>
                            </a>
                            <a href="#35_ral_9006" class="products__color-group">
                                <img src="images/proflist/h35/35_ral_9006.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 9006
                                </div>
                            </a>
                            <a href="#35_ral_1015" class="products__color-group">
                                <img src="images/proflist/h35/35_ral_1015.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 1015
                                </div>
                            </a>
                        </div>
                        <div class="products__item-next">
                            <img src="images/btn-prev.png" alt="next">
                        </div>
                    </div>
                </div>
                <div class="products__h44 " data-hash="h44">
                    <div class="products__view-slider">
                        <img src="images/proflist/h44/44_ral_1014.jpg" alt="" data-hash="44_ral_1014">
                        <img src="images/proflist/h44/44_ral_1018.jpg" alt="" data-hash="44_ral_1018">
                        <img src="images/proflist/h44/44_ral_3005.jpg" alt="" data-hash="44_ral_3005">
                        <img src="images/proflist/h44/44_ral_3011.jpg" alt="" data-hash="44_ral_3011">
                        <img src="images/proflist/h44/44_ral_5002.jpg" alt="" data-hash="44_ral_5002">
                        <img src="images/proflist/h44/44_ral_5005.jpg" alt="" data-hash="44_ral_5005">
                        <img src="images/proflist/h44/44_ral_6005.jpg" alt="" data-hash="44_ral_6005">
                        <img src="images/proflist/h44/44_ral_7004.jpg" alt="" data-hash="44_ral_7004">
                        <img src="images/proflist/h44/44_ral_8017.jpg" alt="" data-hash="44_ral_8017">
                        <img src="images/proflist/h44/44_ral_9003.jpg" alt="" data-hash="44_ral_9003">
                        <img src="images/proflist/h44/44_ral_9006.jpg" alt="" data-hash="44_ral_9006">
                        <img src="images/proflist/h44/44_ral_1015.jpg" alt="" data-hash="44_ral_1015">
                    </div>
                    <div class="products__color-wrapper">
                        <div class="products__item-prev">
                            <img src="images/btn-prev.png" alt="prev">
                        </div>
                        <div class="products__color-slider">
                            <a href="#44_ral_1014" class="products__color-group">
                                <img src="images/proflist/h44/44_ral_1014.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 1014
                                </div>
                            </a>
                            <a href="#44_ral_1018" class="products__color-group">
                                <img src="images/proflist/h44/44_ral_1018.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 1018
                                </div>
                            </a>
                            <a href="#44_ral_3005" class="products__color-group">
                                <img src="images/proflist/h44/44_ral_3005.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 3005
                                </div>
                            </a>
                            <a href="#44_ral_3011" class="products__color-group">
                                <img src="images/proflist/h44/44_ral_3011.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 3011
                                </div>
                            </a>
                            <a href="#44_ral_5002" class="products__color-group">
                                <img src="images/proflist/h44/44_ral_5002.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 5002
                                </div>
                            </a>
                            <a href="#44_ral_5005" class="products__color-group">
                                <img src="images/proflist/h44/44_ral_5005.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 5005
                                </div>
                            </a>
                            <a href="#44_ral_6005" class="products__color-group">
                                <img src="images/proflist/h44/44_ral_6005.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 6005
                                </div>
                            </a>
                            <a href="#44_ral_7004" class="products__color-group">
                                <img src="images/proflist/h44/44_ral_7004.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 7004
                                </div>
                            </a>
                            <a href="#44_ral_8017" class="products__color-group">
                                <img src="images/proflist/h44/44_ral_8017.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 8017
                                </div>
                            </a>
                            <a href="#44_ral_9003" class="products__color-group">
                                <img src="images/proflist/h44/44_ral_9003.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 9003
                                </div>
                            </a>
                            <a href="#44_ral_9006" class="products__color-group">
                                <img src="images/proflist/h44/44_ral_9006.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 9006
                                </div>
                            </a>
                            <a href="#44_ral_1015" class="products__color-group">
                                <img src="images/proflist/h44/44_ral_1015.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 1015
                                </div>
                            </a>
                        </div>
                        <div class="products__item-next">
                            <img src="images/btn-prev.png" alt="next">
                        </div>
                    </div>
                </div>
                <div class="products__h57 " data-hash="h57">
                    <div class="products__view-slider">
                        <img src="images/proflist/h57/57_ral_1014.jpg" alt="" data-hash="57_ral_1014">
                        <img src="images/proflist/h57/57_ral_1018.jpg" alt="" data-hash="57_ral_1018">
                        <img src="images/proflist/h57/57_ral_3005.jpg" alt="" data-hash="57_ral_3005">
                        <img src="images/proflist/h57/57_ral_3011.jpg" alt="" data-hash="57_ral_3011">
                        <img src="images/proflist/h57/57_ral_5002.jpg" alt="" data-hash="57_ral_5002">
                        <img src="images/proflist/h57/57_ral_5005.jpg" alt="" data-hash="57_ral_5005">
                        <img src="images/proflist/h57/57_ral_6005.jpg" alt="" data-hash="57_ral_6005">
                        <img src="images/proflist/h57/57_ral_7004.jpg" alt="" data-hash="57_ral_7004">
                        <img src="images/proflist/h57/57_ral_8017.jpg" alt="" data-hash="57_ral_8017">
                        <img src="images/proflist/h57/57_ral_9003.jpg" alt="" data-hash="57_ral_9003">
                        <img src="images/proflist/h57/57_ral_9006.jpg" alt="" data-hash="57_ral_9006">
                        <img src="images/proflist/h57/57_ral_1015.jpg" alt="" data-hash="57_ral_1015">
                    </div>
                    <div class="products__color-wrapper">
                        <div class="products__item-prev">
                            <img src="images/btn-prev.png" alt="prev">
                        </div>
                        <div class="products__color-slider">
                            <a href="#57_ral_1014" class="products__color-group">
                                <img src="images/proflist/h57/57_ral_1014.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 1014
                                </div>
                            </a>
                            <a href="#57_ral_1018" class="products__color-group">
                                <img src="images/proflist/h57/57_ral_1018.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 1018
                                </div>
                            </a>
                            <a href="#57_ral_3005" class="products__color-group">
                                <img src="images/proflist/h57/57_ral_3005.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 3005
                                </div>
                            </a>
                            <a href="#57_ral_3011" class="products__color-group">
                                <img src="images/proflist/h57/57_ral_3011.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 3011
                                </div>
                            </a>
                            <a href="#57_ral_5002" class="products__color-group">
                                <img src="images/proflist/h57/57_ral_5002.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 5002
                                </div>
                            </a>
                            <a href="#57_ral_5005" class="products__color-group">
                                <img src="images/proflist/h57/57_ral_5005.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 5005
                                </div>
                            </a>
                            <a href="#57_ral_6005" class="products__color-group">
                                <img src="images/proflist/h57/57_ral_6005.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 6005
                                </div>
                            </a>
                            <a href="#57_ral_7004" class="products__color-group">
                                <img src="images/proflist/h57/57_ral_7004.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 7004
                                </div>
                            </a>
                            <a href="#57_ral_8017" class="products__color-group">
                                <img src="images/proflist/h57/57_ral_8017.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 8017
                                </div>
                            </a>
                            <a href="#57_ral_9003" class="products__color-group">
                                <img src="images/proflist/h57/57_ral_9003.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 9003
                                </div>
                            </a>
                            <a href="#57_ral_9006" class="products__color-group">
                                <img src="images/proflist/h57/57_ral_9006.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 9006
                                </div>
                            </a>
                            <a href="#57_ral_1015" class="products__color-group">
                                <img src="images/proflist/h57/57_ral_1015.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 1015
                                </div>
                            </a>
                        </div>
                        <div class="products__item-next">
                            <img src="images/btn-prev.png" alt="next">
                        </div>
                    </div>
                </div>
                <div class="products__h75 " data-hash="h75">
                    <div class="products__view-slider">
                        <img src="images/proflist/h75/75_ral_1014.jpg" alt="" data-hash="75_ral_1014">
                        <img src="images/proflist/h75/75_ral_1018.jpg" alt="" data-hash="75_ral_1018">
                        <img src="images/proflist/h75/75_ral_3005.jpg" alt="" data-hash="75_ral_3005">
                        <img src="images/proflist/h75/75_ral_3011.jpg" alt="" data-hash="75_ral_3011">
                        <img src="images/proflist/h75/75_ral_5002.jpg" alt="" data-hash="75_ral_5002">
                        <img src="images/proflist/h75/75_ral_5005.jpg" alt="" data-hash="75_ral_5005">
                        <img src="images/proflist/h75/75_ral_6005.jpg" alt="" data-hash="75_ral_6005">
                        <img src="images/proflist/h75/75_ral_7004.jpg" alt="" data-hash="75_ral_7004">
                        <img src="images/proflist/h75/75_ral_8017.jpg" alt="" data-hash="75_ral_8017">
                        <img src="images/proflist/h75/75_ral_9003.jpg" alt="" data-hash="75_ral_9003">
                        <img src="images/proflist/h75/75_ral_9006.jpg" alt="" data-hash="75_ral_9006">
                        <img src="images/proflist/h75/75_ral_1015.jpg" alt="" data-hash="75_ral_1015">
                    </div>
                    <div class="products__color-wrapper">
                        <div class="products__item-prev">
                            <img src="images/btn-prev.png" alt="prev">
                        </div>
                        <div class="products__color-slider">
                            <a href="#75_ral_1014" class="products__color-group">
                                <img src="images/proflist/h75/75_ral_1014.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 1014
                                </div>
                            </a>
                            <a href="#75_ral_1018" class="products__color-group">
                                <img src="images/proflist/h75/75_ral_1018.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 1018
                                </div>
                            </a>
                            <a href="#75_ral_3005" class="products__color-group">
                                <img src="images/proflist/h75/75_ral_3005.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 3005
                                </div>
                            </a>
                            <a href="#75_ral_3011" class="products__color-group">
                                <img src="images/proflist/h75/75_ral_3011.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 3011
                                </div>
                            </a>
                            <a href="#75_ral_5002" class="products__color-group">
                                <img src="images/proflist/h75/75_ral_5002.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 5002
                                </div>
                            </a>
                            <a href="#75_ral_5005" class="products__color-group">
                                <img src="images/proflist/h75/75_ral_5005.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 5005
                                </div>
                            </a>
                            <a href="#75_ral_6005" class="products__color-group">
                                <img src="images/proflist/h75/75_ral_6005.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 6005
                                </div>
                            </a>
                            <a href="#75_ral_7004" class="products__color-group">
                                <img src="images/proflist/h75/75_ral_7004.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 7004
                                </div>
                            </a>
                            <a href="#75_ral_8017" class="products__color-group">
                                <img src="images/proflist/h75/75_ral_8017.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 8017
                                </div>
                            </a>
                            <a href="#75_ral_9003" class="products__color-group">
                                <img src="images/proflist/h75/75_ral_9003.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 9003
                                </div>
                            </a>
                            <a href="#75_ral_9006" class="products__color-group">
                                <img src="images/proflist/h75/75_ral_9006.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 9006
                                </div>
                            </a>
                            <a href="#75_ral_1015" class="products__color-group">
                                <img src="images/proflist/h75/75_ral_1015.jpg" alt="">
                                <div class="products__color-group_text">
                                    RAL 1015
                                </div>
                            </a>
                        </div>
                        <div class="products__item-next">
                            <img src="images/btn-prev.png" alt="next">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="products__button">Дізнатись наявність</button>
        <div class="modal">
            <img src="images/close_modal.png" alt="" class="close__modal">
            <form action="#" class="consulting__form" method="get">
                <div class="consulting__form-content">
                    <div class="consulting__input-group">
                        <div class="consulting__input-title">ФІО</div>
                        <input type="text" class="consulting__input" >
                    </div>
                    <div class="consulting__input-group">
                        <div class="consulting__input-title">Тип профлиста:</div>
                        <label for="" class="consulting__label">
                            <select class="consulting__input" name="" id="">
                                <option value="Стіновий">Стіновий</option>
                            </select>
                        </label>
                    </div>
                    <div class="consulting__input-group">
                        <div class="consulting__input-title">Профлист:</div>
                        <label for="" class="consulting__label">
                            <select class="consulting__input" name="" id="">
                                <option value="Н-20">Н-20</option>
                            </select>
                        </label>
                    </div>
                    <div class="consulting__input-group">
                        <div class="consulting__input-title">Колір</div>
                        <label for="" class="consulting__label consulting__label-color">
                            <select class="consulting__input" name="" id="">
                                <option value="RAL 8017">RAL 8017</option>
                            </select>
                        </label>
                    </div>
                    <div class="consulting__input-group">
                        <div class="consulting__input-title">Номер телефону:</div>
                        <input type="text" class="consulting__input" >
                    </div>
                    <div class="consulting__input-group">
                        <div class="consulting__input-title">Товщина:</div>
                        <label for="" class="consulting__label">
                            <select class="consulting__input" name="" id="">
                                <option value="0.4">0.4</option>
                                <option value="0.4">0.5</option>
                                <option value="0.4">0.6</option>
                                <option value="0.4">0.7</option>
                                <option value="0.4">0.8</option>
                                <option value="0.4">0.9</option>
                                <option value="0.4">1</option>
                            </select>
                        </label>
                    </div>
                    <div class="consulting__input-group">
                        <div class="consulting__input-title">Об’єм</div>
                        <input type="text" class="consulting__input" >
                    </div>
                    <div class="consulting__input-group">
                        <div class="consulting__input-title">Область:</div>
                        <label for="" class="consulting__label">
                            <select class="consulting__input" name="" id="">
                                <option value="Запорожская"></option>
                            </select>
                        </label>
                    </div>
                </div>
                <button type="submit" class="consulting__form-button">Отримати розрахунок</button>
            </form>
        </div>
     </div>
     {{> blocks / delivery}}
</section>



