<section class="service">
    <section class="whyUs">
        <img src="images/service_img.png" alt="picture" class="whyUs__img">
        <div class="whyUs__info">
            <div class="whyUs__title">НАШІ ПОСЛУГИ</div>
            <div class="whyUs__mobile">
                <div class="whyUs__title">НАШІ ПОСЛУГИ</div>
            </div>
            <div class="whyUs__wrapper">
                <div class="whyUs__group">
                    <span class="whyUs__subtitle">ПРОЄКТУВАННЯ</span>
                    <span class="whyUs__description">- індивідуальний прорахунок усіх навантажень та впливів на огороджуючи конструкцію за допомогою нашої конструкторської групи.</span>
                </div>
                <div class="whyUs__group">
                    <span class="whyUs__subtitle">ВИРОБНИЦТВО</span>
                    <span class="whyUs__description">- безпосередня реалізація запроектованого матеріалу (профнастилу) за допомогою сучасного європейського обладнання та сертифікованих матеріалів.</span>
                </div>
                <div class="whyUs__group">
                    <span class="whyUs__subtitle">ДОСТАВКА </span>
                    <span class="whyUs__description">- зручне розташування виробництв та власна логістика дозволяють доставляти замовлення у найкоротші терміни та з суттєвою економією коштів замовника.</span>
                </div>
                <div class="whyUs__group">
                    <span class="whyUs__subtitle">МОНТАЖ</span>
                    <span class="whyUs__description">- досвід та професіоналізм наших фахівців дає змогу виконувати роботу вчасно та з гарантованою якістю.</span>
                </div>
            </div>
        </div>
    </section>
</section>