<section class="slider">
    <div class="slider__content">
        <img src="images/slide2.png" alt="slide">
        <img src="images/slide2.png" alt="slide">
        <img src="images/slide2.png" alt="slide">
    </div>
    <div class="slider__button">БІЛЬШЕ</div>
</section>