<section class="technology">
    <section class="service">
    <section class="whyUs">
        <video autoplay muted loop id="myVideo" class="whyUs__img">
            <source src="images/gif_bg.mp4" type="video/mp4">
        </video>
        <div class="whyUs__info">
            <div class="whyUs__title">ТЕХНОЛОГІЯ</div>
            <div class="whyUs__mobile">
                <div class="whyUs__title">ТЕХНОЛОГІЯ</div>
            </div>
            <div class="technology__img-mobile">
                <video autoplay muted loop id="myVideo" class="main__video">
                    <source src="images/gif_bg.mp4" type="video/mp4">
                </video>
            </div>
            <div class="whyUs__wrapper">
                <div class="whyUs__group">
                    
                    <span class="whyUs__description">Для виготовлення нашої продукції ми використовуємо виключно високоміцні марки сталі з товщиною металу від 0.4 до 1 мм. Висота ребра або гофри профлиста складає від 10мм до 100мм виходячи з призначення матеріалу та потреб замовника.</span>
                </div>
                <div class="whyUs__group">
                   
                    <span class="whyUs__description">Цинкове покриття, нанесене методом гарячого/холодного цинкування, гальванізації або газотермічної обробки, варіюється від 100 до 275 г/м2.</span>
                </div>
                <div class="whyUs__group">
                    
                    <span class="whyUs__description">Покриття фарбою сягає 35 та 25 мк для матового або глянцевого відтінку відповідно. Фарбування виконуються виключно в заводських умовах у камерах порошкового фарбування.</span>
                </div>
            </div>
        </div>
    </section>
</section>
</section>